.keypad {
  height: 80px;
  width: 30%;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  font-style: normal;
  border: 0;
  &.full {
    width: 90%;
  }
  &.start {
    background-color: green;
  }
  &.next {
    background-color: chartreuse;
  }
  &.clear {
    background-color: darkorange;
  }
  &.delete {
    background-color: indianred;
  }
}
